doctype html
html(ng-app='wifiApp')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')

    link(href='/vendor/angular-material.min.css', rel='stylesheet', type='text/css')
    link(href='/index.css', rel='stylesheet', type='text/css')
    link(href='/vendor/demo.css', rel='stylesheet', type='text/css')

  body(ng-controller='appController' ,  ng-click="tapped($event)", ng-mousemove="mouseMoved($event)", ng-cloak)
    ripples
      .ripple(ng-repeat="r in ripples", ng-style="{ top: r.y + 'px', left: r.x + 'px' }")
    md-content(layout-padding='')
      .wifi
        .icon-connection
      md-divider
      div(tablist='')
        md-input-container(md-no-float, class='md-block')
          label SSID
          md-select(ng-model="wifi.ssid" tab-index='1' required='')
            md-optgroup
              md-option(ng-repeat="point in visibleAccessPoints", ng-if="point.ssid !== ''", ng-value="point.ssid" ng-attr="$index === 1?'aria-selected':''") {{point.ssid}}
        md-input-container(md-no-float, class='md-block')
          label Password
          input(ng-model='wifi.passphrase' type='password' tab-index='2')
      md-divider
      section(layout='row' layout-md='column' layout-align='center center' layout-wrap)
        md-button(class='md-raised' ng-click="addWifi(wifi)") Add Wifi
        md-button(class='md-raised' ng-click="forgetWifi(wifi)") Forget Wifi
      div.spacer
      md-divider
      section(layout='column' layout-md='column' layout-align='top center' ng-if='knownWifiNetworks.length')
        div Known Wifi Networks
        div.spacer.lg
        div(ng-repeat="network in knownWifiNetworks") {{network.ssid}}

    script(src='/index.js')
